.main {
  background-image: 
  url(https://amlgames.com/uploads/monthly_2018_11/1783902301___-__.jpg.eeef425450199991e55cdf4b5c5fcc19.jpg);
  height: 100vh;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}