.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 100vw;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: orange;
}
.header img {
  width: 20px;
}

.nav {
  grid-area: n;
  background-color: coral;
}

.profile {
  grid-area: c;
  background-color: #133268;
}
.profile img {
  width: 70vw;
}